@import "../resources/colors";
@import "../resources/animation.scss";

.SlideUpDown {
  .contentSlide {
    .buttonSlide {
      background-color: rgba(0, 0, 0, 0);

      .iconButton {
        font-size: 2.5em;
        color: $titulo1;
        transition: all .3s;
      }

      &:hover {
        .iconButton {
          color: $color2;
        }
      }
    }
  }
}
